/* Write your CSS here */
.bgContainer {
  height: 100vh;
  background-color: #ffffff;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-image: linear-gradient(#303150, #b5b9ff);
  border-radius: 16px;
  height: 50%;
  width: 50%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
