/* Write your CSS here */
.button {
  background-color: #f8fafc;
  color: #303150;
  border-radius: 15px;
  border-width: 0px;
  width: 100px;
  height: 40px;
  font-family: 'Roboto';
  font-size: 14px;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 32px;
  padding-right: 32px;
}
